
@{
    ViewData["Title"] = "Ajax";
}

<h1>AJAX</h1>
<button type="button" id="btnFetchPeople">View PeopleList</button>
<input type="number" id="id"/>   
<button type="button" id="btnDisplay">Display</button>
<button type="button" id="btnDelete">Delete</button>
<div id="container"></div>
